<!--Header block-->
<div th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <div class="ui menu" id="header">
        <div class="container ui">
            <div class="header item">
                <h4 id="a">AMS</h4>
            </div>

            <div class="right menu">
                <a class="item">
                    <i class="file alternate outline icon"></i>
                    <span th:text="#{article}">Article</span>
                </a>
                <a class="item">
                    <i class="suitcase icon"></i>
                    <span th:text="#{category}">Category</span>
                </a>

                <a class="item">
                    <i class="exclamation circle icon"></i>
                    <span th:text="#{about}">About</span>
                </a>
                <div class="item">
                    <div class="ui floating dropdown teal labeled search icon button"​ style="width: 135px">
                        <i class="world icon"></i>
                        <span class="text" th:text="#{lang}">Language</span>
                        <div class="menu">
                            <a href="?lang=en" class="item">English</a>
                            <a href="?lang=km" class="item">Khmer</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--End Header block-->


<div id="footer" th:fragment="footer" xmlns:th="http://www.thymeleaf.org">
    <div class="ui container">
        <div class="footer-left">
            <div class="email">
                <div>
                    <img src="/images/avatar.png" alt="">
                </div>
                <a href="#">tokbunthoeun@gmail.com</a>
            </div>
            <span class="job">Web Developer </span> &nbsp; / <span class="job">&nbsp; Web Designer</span>
            <div class="social">
                <button class="ui mini circular facebook icon button">
                    <i class="facebook icon"></i>
                </button>
                <button class="ui mini circular youtube icon button">
                    <i class="youtube icon"></i>
                </button>
                <button class="ui mini circular linkedin icon button">
                    <i class="linkedin icon"></i>
                </button>
                <button class="ui mini circular google plus icon button">
                    <i class="google plus icon"></i>
                </button>
                <button class="ui mini circular gitlab icon button" style="background-color: #292961;">
                    <i class="gitlab icon" style="color: #FC7726;"></i>
                </button>
            </div>

            <span id="copy">&copy;copyright 2018 Article Management System</span>
        </div>

        <div class="footer-right">
            <div class="school">
                <div class="school-logo">
                    <img src="/images/logo.png" alt="">
                </div>
                <div class="des">
                    <h4>Korea Software HRD Center</h4>
                    <p style="line-height: 1.7;">Korea Software HRD Center is an IT academy for training SW professionals established by Korea International Cooperation Agency (KOICA) and Webcash Co., Ltd in April, 2013.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--End of footer-->