
#header {
    height: 70px;
    background-color: #eee;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.ui.menu .item:before {
    width: 0 !important;
}
#header .item {
    border: 0 !important;
}

/* Apply style to logo text */
#header .header h4 {
    color: teal;
    border: 1px solid teal;
    padding: 6px 30px;
    font-style: italic;
    border-radius: 2px;
    box-shadow: 1px 1px 2px 0 rgba(0, 102, 255, 0.3);
    font-weight: bold;
    background-color: #fff;
}
#header a.item {
    font-weight: 500;
    color: teal;
}
#header a.item i {
    font-size: 16px;
}

#footer {
   
    background-color: #eee;
    margin-top: 30px;
}
#footer .container {
    display: flex;
    padding: 20px 0;
}
#footer .container .footer-left {
    flex: 5;
}
#footer .container .footer-right {
    flex: 3;
}
#footer .footer-left .email {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}
#footer .footer-left .email div {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ddd;
    text-align: center;
    margin-right: 8px;
}
#footer .footer-left .email div img {
    width: 90%;
    margin-top: 3px;
}
#footer .footer-left span.job {
    text-decoration: underline;
    color: #888;
}
#footer .footer-left .social {
    
    padding-top: 30px;
    padding-bottom: 10px;
}
#footer .footer-left  #copy {
    font-size: 13px;
    color: #888;
}

#footer .footer-right .school {
    display: flex;

}
#footer .footer-right .school .school-logo {
    margin-right: 20px;    

}

#footer .footer-right .school .school-logo img {
    width: 60px
}
#footer .footer-right .school .des {
    color: #888;
}