* {

}
.button i {
    color: #fff;
}



/*This block of style is used to apply for form.html*/
.form-container {
    border: 1px solid #ddd;
    padding: 15px 20px;
    border-radius: 3px;
    margin-top: 20px;
}
label {
    color: #666;
}
h2 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
}
.form-container {
    border: 1px solid #ddd;
    padding: 20px 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-top: 15px;
}
.upload-img {
    width: 100px;
    height: 100px;
    position: relative;
}
.upload-img #image {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}
.form-footer {
    border-top: 1px solid #dddddd;
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
    margin-top: 10px;
}

/*This block of code is used to apply style of view.html*/
.des-body {
    display: flex;

}
.des-body .thumbnail {
    flex-basis: 45%;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-right: 30px;
    position: relative;
}
.des-body .thumbnail img {
    width: 100%;
    border-radius: 3px;
}
.des-body .des-text {
    flex: 1;
    padding-top: 20px;
}
.des-body .des-text i.calendar {
    font-size: 17px;
    color: brown;
}
.des-body .des-text span.time {
    color: chocolate;
    font-weight: 600;
}
.des-body .des-text p.desc {
    font-size: 15px;
    line-height: 1.6;
}
.des-body .des-text h2 {
    color: teal;
}
@media only screen and (max-width:600px) {
    .des-body {
        flex-wrap: wrap;
    }
    .des-body .thumbnail {
        flex-basis: 100%;
        margin-right: 0;
    }
}