<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/semantic/semantic.min.css}">
    <link rel="stylesheet" th:href="@{/css/header_footer.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Title</title>

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/semantic/semantic.min.js}"></script>
    <script src="/js/interaction.js"></script>
</head>
<body>
    <!--Header block-->
    <div th:replace="layout/header_footer::header"></div>
    <!--End Header block-->
    <div id="content" style="padding-top: 80px;">
        <div class="ui container">
        <h2 th:text="${formAdd}? 'Add Article':'Update Article'"></h2>
        <!--<h2><a th:href="/article">Back to home</a></h2>-->
        <a th:href="@{/}" class="tiny ui teal button">
            <i class="plus circle icon"></i>
            <span th:text="#{back}"></span>
        </a>
        <div class="ui container">
            <div class="form-container">
                <form class="ui form" method="post" th:action="${formAdd}? '/add': '/update'" enctype="multipart/form-data">
                    <div class="ui grid">
                        <div class="eight wide column">
                            <div class="field">
                                <labe th:text="#{title}">Article title</labe>
                                <input type="text"  placeholder="Title" th:field="${article.title}">
                            </div>
                            <div class="field">
                                <label th:text="#{category}">Article Category</label>
                                <select th:field="${article.category.id}">
                                    <option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.categoryName}"></option>
                                </select>
                            </div>
                            <div class="field">
                                <label th:text="#{thumb}">Thumbnail</label>
                                <div class="upload-img">
                                    <img src="/image/picture.png" alt="add image" width="100">
                                    <input type="file" name="file" id="image">
                                </div>
                            </div>
                        </div>
                        <div class="eight wide column">
                            <div class="field">
                                <label>Author Name</label>
                                <input type="text" placeholder="Author name" th:field="${article.author}">
                            </div>
                            <div class="field">
                                <label th:text="#{des}">Description</label>
                                <textarea placeholder="Type any word to descript your article" th:field="${article.description}"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-footer">
                        <button type="button" class="ui red deny right labeled icon button">
                            <span th:text="#{cancel}">Cancel</span>
                            <i class="power off icon"></i>
                        </button>
                        <button type="submit" class="ui green labeled icon button labeled" th:if="${formAdd} == true">
                            <span th:text="#{save}">Save</span>
                            <i class="checkmark icon"></i>
                        </button>
                        <button type="submit" class="ui yellow icon right button labeled" th:if="${formAdd} == false">
                            <span th:text="#{update}">Update</span>
                            <i class="edit outline icon"></i>
                        </button>

                    </div>

                </form>
            </div>

        </div>

    </div>

    </div>

    <div th:replace="layout/header_footer::footer"></div>



</body>
</html>