<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/semantic/semantic.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/header_footer.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">


    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/semantic/semantic.min.js}"></script>
    <script src="/js/interaction.js"></script>
</head>
<body>

    <!--Header block-->
    <div th:replace="layout/header_footer::header"></div>
    <!--End Header block-->

    <div id="content" style="padding-top: 80px;">
        <div class="ui container">
            <h3>
                <i class="arrow alternate circle right outline icon"></i>
                <span th:text="#{article}"></span>
            </h3>
            <a th:href="@{/add}" class="tiny ui teal button">
                <i class="plus circle icon"></i>
                <span th:text="#{add}"></span>
            </a>
            <table class="ui celled table">
                <thead>
                <tr>
                    <th style="text-align: center;">#</th>
                    <th th:text="#{title}">Title</th>
                    <th th:text="#{category}">Category</th>
                    <th th:text="#{des}">Description</th>
                    <th th:text="#{thumb}">Thumbnail</th>
                    <th th:text="#{author}">Author</th>
                    <th style="text-align: center" th:text="#{act}">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="article: ${articles}" th:object="${article}">
                    <td th:text="*{id}" style="text-align: center;"></td>
                    <td th:text="*{title}"></td>
                    <td th:text="*{category.categoryName}"></td>
                    <td th:text="*{description}"></td>
                    <td style="text-align: center;">
                        <img th:src="'/image/' + *{thumbnail}" alt="thumbnail" th:width="50px"/>
                    </td>
                    <td th:text="*{author}"></td>
                    <td style="text-align: center">
                        <a th:href="@{/view/{id}(id=*{id})}">
                            <button class="ui mini circular blue icon button">
                                <i class="eye icon"></i>
                            </button>
                        </a>
                        <a th:href="@{/update/{id}(id=*{id})}">
                            <button class="ui mini circular yellow icon button">
                                <i class="edit outline icon"></i>
                            </button>
                        </a>
                        <a th:href="@{/delete/{id}(id=*{id})}">
                            <button class="ui mini circular red icon button">
                                <i class="trash alternate icon"></i>
                            </button>
                        </a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr><th colspan="7">
                    <div class="ui right floated pagination menu">
                        <a class="icon item">
                            <i class="left chevron icon"></i>
                        </a>
                        <a class="item">1</a>
                        <a class="item">2</a>
                        <a class="item">3</a>
                        <a class="item">4</a>
                        <a class="icon item">
                            <i class="right chevron icon"></i>
                        </a>
                    </div>
                </th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <!--Footer section-->
    <div th:replace="layout/header_footer::footer"></div>
</body>
</html>