<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/semantic/semantic.min.css">
    <link rel="stylesheet" href="/css/header_footer.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="/js/jquery.min.js"></script>
    <script src="/semantic/semantic.min.js"></script>
    <script src="/js/interaction.js"></script>
    <title>Title</title>
</head>
<body>
    <div th:replace="layout/header_footer::header"></div>
    <div id="description" style="padding-top: 80px;">
        <div class="ui container">
            <h3>Article Detail</h3>
            <a th:href="@{/}" class="tiny ui teal button" style="margin-bottom: 12px;">
                <i class="plus circle icon"></i>
                <span th:text="#{back}"></span>
            </a>
            <div class="des-body">
                <div class="thumbnail">
                    <div class="column">
                        <div class="ui fluid image">
                            <div class="ui yellow ribbon label">
                                <i class="code icon" style="color: #fff;"></i>
                                <span th:text="${article.category.categoryName}"></span>
                            </div>
                            <img th:src="'/image/' + ${article.thumbnail}">
                        </div>
                    </div>
                </div>
                <div class="des-text">
                    <h2>
                        <span th:text="${article.id}"></span>
                        <span>. </span>
                        <span th:text="${article.title}"></span>
                    </h2>
                    <p>
                        <i class="calendar alternate outline icon"></i>
                        <span class="time">
                            <span th:text="${article.createdDate}"></span>
                            <span> || </span>
                            <span th:text="${article.author}"></span>
                        </span>
                    </p>

                    <p class="desc" th:text="${article.description}">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet sequi facilis sed quidem laborum, facere similique laudantium laboriosam blanditiis qui vero eius eveniet aut nostrum recusandae necessitatibus. Placeat tempore rerum sapiente alias doloremque rem totam adipisci hic quidem laborum obcaecati laudantium quod distinctio mollitia et vero, accusamus iusto. Ad enim doloribus molestiae doloremque ab illo.</p>
                </div>
            </div>

        </div>
    </div>
    <div th:replace="layout/header_footer::footer"></div>

</div>
</body>
</html>